/*   Float clear and overflow */


/* float */
.floatimg1{
    float: right;
    height: 300px;
   
}
.floatimg2{
    float: right;
    height: 300px;
    clear: right;         /* it will clear all the items from the right side */    

}


/* overflow */

/* when the content overflows from the box then it is used */

.overflow1{
    border: 2px black solid;
    height: 300px;
    overflow: hidden;        /*  it will hide all the item that is going out of the box.*/
    overflow: scroll;         /* this will make our content to scroll that is going out of the box */
    overflow: auto;            /*  this will do automattically all things what to do*/

}