.container{
    background-color: aliceblue;
    border: 5px black solid;
    margin: 5px;
    padding: 10px;
    display: flex;
    height: 1200px;
    flex-direction: row-reverse;                             /* this will reverse the boxes  */     
    flex-wrap: wrap;                                          /* this will wrap the box or text accordingly to screen size it will not decrease
                                                            the width of the box it will wrap it into the new line. */
    /* justify-content: center;                                  this will move the content in the centre if we use column it will move accordingly  
                                                            to the vertical direction and if column is used in flex direction then it will move 
                                                            accordingly to the horizontal.*/


    align-items: center;                                   /*  this will do just the opposite of the justify content*/
    /* align-items: stretch;                                    this will stretch the items */
   align-content: start;                                  /*  it will remove the spacing between the items while aligning*/

    /* if we will specify both align item as centre and justify content as centre it will be at centre of the web page. */


}



.box{
    height: 200px;
    width: 200px;
    border: 2px brown solid;
    margin: 2px;
    padding: 2px;

}

#box1{
    background-color: aqua;
    order: 1;                            /* it will change the order of this box if we want to move it at last we can use -1. */
    flex-shrink: 4;                      /* this box will shrink 4 times faster as then any other box */
    flex-grow: 1;                         /* it will make the boxes to take all the space of the container from starting point to ending point */
                                          
}

#box2{
    background-color: rgb(38, 218, 110);
    /* flex-grow: 5;                            it will grow 5x faster when we will flex the screen and also it will be some bigger then any other box. */
}

#box3{
    background-color: rgb(239, 101, 189);
    /* flex-grow: 1; */
    align-self: flex-end;
}

#box4{
    background-color: brown;
    flex-grow: 1;
    flex-basis: 400px;                       /*  we can assign its width*/
          
}